.row{
      margin-right: -10px;
      margin-left: -10px;
}
.chat
{
list-style: none;
margin: 0;
padding: 0;
}

.chat li
{
margin-bottom: 10px;
padding-bottom: 5px;
border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
margin-left: 60px;
}

.chat li.right .chat-body
{
margin-right: 60px;
}


.chat li .chat-body p
{
margin: 0;
color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
margin-right: 5px;
}

.panel-body
{
overflow-y: auto;
overflow-x: hidden;
height: 450px;

}

.chats-panel{
 margin-bottom: 5px !important ;
}

.messages-panel{
 margin-bottom: 5px !important ;
}


.chat-panel-heading {
    height: 55px !important;
}


.no-padding-right{
 padding-right: 0px !important ;
}
 .xs-padding-left{
 padding-left: 5px !important ;
}

 .btn-send-messsage{
    background-color: #f4aa42 !important;
 }
  .refresh-btn{
    float: right;
  }

  .search-input{
      padding-bottom: 5px !important;
      margin-left: -10px !important;
      margin-right: -10px !important;
  }

.chat-list{
  background-color: #f5f5f5;
}

ul.chat-list{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.resize-none{
  resize:none
}



::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

::-webkit-scrollbar
{
width: 12px;
background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #337ab7;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff  !important;
  background-color: #428bca  !important;
}

.new-message{animation:fading 2s; animation-iteration-count:1}@keyframes fading{0%{opacity:0}50%{opacity:0.5}100%{opacity:1}}
.new-message .glyphicon-time {
  color:red;
  animation:fading 5s;
  animation-iteration-count:1}@keyframes fading{0%{color:white}50%{color:orangered}100%{color:red}
}

.user-dropdown-menu {
  min-width:350px !important;
  padding: 0px 0 !important;
}

.user-checkbox{
background-color: #f5f5f5 !important;
border: none !important;
}

.xs-user-li{
  min-height: 27px;
  margin-left: 30px;
}

.unread-message-count {
    float: right;
    font-weight: bold;
    color: darkred;
    font-size: medium;
    animation:fading 5s;
    animation-iteration-count:1}@keyframes fading{0%{color:white}50%{color:orangered}100%{color:darkred}
}
.hidden{
  display:none;
}

.in-one-row{
  white-space: nowrap;
}
